#Nuevos atributos
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.InclOrderunreal5_1.h.pch filter=lfs diff=lfs merge=lfs -text
*.InclOrderUnreal5_1.h.pch filter=lfs diff=lfs merge=lfs -text
*.InclOrderUnreal5_1.h.obj filter=lfs diff=lfs merge=lfs -text
*.Engine.ShadowErrors.InclOrderUnreal5_1.h.pch filter=lfs diff=lfs merge=lfs -text

#Proyecto pasado
# Unreal Engine file types.
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text

# Raw Content file types.
*.fbx filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# Anything in `/RawContent` dir.
/RawContent/**/* filter=lfs diff=lfs merge=lfs -text

#Wwise
*.zip filter=lfs diff=lfs merge=lfs -text
*.ttc filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.bnk filter=lfs diff=lfs merge=lfs -text
AkSoundEngine filter=lfs diff=lfs merge=lfs -text